/* header style */
header{
    background-color: var(--bg-color);
    box-shadow: var(--shadow);
    padding: 1rem;
    position: sticky;
    padding: 10px 0;
    top: 0;
}


/* nav-container start */
.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

 .logo{
   display: flex;
   align-items: center;
   gap: 8px;
 }
.logoImage{
    width:60px ;
    height: 60px;
    object-fit: contain;
    
}

 .header-container{
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
 }

 .navLinks {
  display: flex;
  align-items: center;
  gap: 24px;
  text-decoration: none;
  cursor: pointer;
}

.navLink{
  text-decoration: none;
}

.navLink:hover{
  color: var(--btn-color);
}

.navButton {
  display: flex;
  align-items: center;
  gap: 12px;
  
}
.navButton button:first-child {
  color: var(--btn-color);
  border: 1px solid var(--btn-color);
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.navButton button:last-child {
  background-color: var(--btn-color);
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
}

/* navcontainer end */

/* media query  start*/
@media (max-width: 700px) {
    .navContainer {
        padding: 10px 20px;
    }

    .navLinks {
        display: none;
    }

    .navButton button {
        padding: 6px 12px;
        font-size: 0.78rem;
    }
}

@media (max-width: 400px) {
    .navButton button:first-child {
        display: none;
    }

    .logoImage {
        width: 36px;
        height: 36px;
    }
}
/* media query end */