:root {
  --logo-text: #263238;
  --primary-color: #18191F;
  --secondary-color: #4D4D4D;
  --least-color: #717171;
  --btn-color: #4CAF4F;
  --bg-color: #F5F7FA;
  }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
  /* width: 100%; */
    overflow-x: hidden;
}
html {
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}

/* .container{
  max-width: 1200px;
  margin: 0 auto;
  padding:0 1.5rem;
  width: 100%;
  box-sizing: border-box;
} */
 .container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding-inline: 1.5rem;
  box-sizing: border-box;
}

ul{
  list-style: none;
 
}

a{
  text-decoration: none;
  color: inherit;
}

img{
  /* width: 100%; */
   max-width: 100%;
  /* height: auto; */
  display: block;
}


@media (max-width: 480px) {
  .container {
    padding: 0 16px;
  }
}